In [1]:
import pandas as pd

#### Data-preprocessing

In [2]:
df = pd.read_csv('Telco_Customer_Churn_Cleaned_Merged.csv')

In [3]:
df.drop(['country', 'state', 'lat_long', 'latitude', 'lat_long', 'longitude', 'customer_status', 'churn_value', 'churn_score', 'cltv', 
         'churn_category', 'churn_reason'], axis = 1, inplace= True)

In [4]:
df.columns

Index(['customer_id', 'gender', 'age', 'under_30', 'senior_citizen', 'married',
       'dependents', 'number_of_dependents', 'city', 'zip_code', 'population',
       'referred_a_friend', 'number_of_referrals', 'tenure_in_months', 'offer',
       'phone_service', 'avg_monthly_long_distance_charges', 'multiple_lines',
       'internet_service', 'internet_type', 'avg_monthly_gb_download',
       'online_security', 'online_backup', 'device_protection_plan',
       'premium_tech_support', 'streaming_tv', 'streaming_movies',
       'streaming_music', 'unlimited_data', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charge', 'total_charges', 'total_refunds',
       'total_extra_data_charges', 'total_long_distance_charges',
       'total_revenue', 'satisfaction_score', 'churn_label'],
      dtype='object')

In [5]:
df.describe()

,age,under_30,senior_citizen,married,dependents,number_of_dependents,zip_code,referred_a_friend,number_of_referrals,tenure_in_months,...,unlimited_data,paperless_billing,monthly_charge,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue,satisfaction_score,churn_label
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,...,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,46.509726,0.198921,0.162147,0.483033,0.231010,0.468692,93486.070567,0.457476,1.951867,32.386767,...,0.673719,0.592219,64.761692,2280.381264,1.962182,6.860713,749.099262,3034.379056,3.244924,0.265370
std,16.750352,0.399217,0.368612,0.499748,0.421508,0.962802,1856.767505,0.498224,3.001199,24.542061,...,0.468885,0.491457,30.090047,2266.220462,7.902614,25.104978,846.660055,2865.204542,1.201657,0.441561
min,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,90001.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,18.250000,18.800000,0.000000,0.000000,0.000000,21.360000,1.000000,0.000000
25%,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,92101.000000,0.000000,0.000000,9.000000,...,0.000000,0.000000,35.500000,400.150000,0.000000,0.000000,70.545000,605.610000,3.000000,0.000000
50%,46.000000,0.000000,0.000000,0.000000,0.000000,0.000000,93518.000000,0.000000,0.000000,29.000000,...,1.000000,1.000000,70.350000,1394.550000,0.000000,0.000000,401.440000,2108.640000,3.000000,0.000000
75%,60.000000,0.000000,0.000000,1.000000,0.000000,0.000000,95329.000000,1.000000,3.000000,55.000000,...,1.000000,1.000000,89.850000,3786.600000,0.000000,0.000000,1191.100000,4801.145000,4.000000,1.000000
max,80.000000,1.000000,1.000000,1.000000,1.000000,9.000000,96150.000000,1.000000,11.000000,72.000000,...,1.000000,1.000000,118.750000,8684.800000,49.790000,150.000000,3564.720000,11979.340000,5.000000,1.000000

In [6]:
numerical_variables = ['age', 'number_of_dependents', 'population', 'number_of_referrals', 'tenure_in_months', 'avg_monthly_long_distance_charges',
                        'avg_monthly_gb_download', 'total_charges', 'total_refunds', 'total_extra_data_charges', 'total_long_distance_charges', 
                        'total_revenue', ]

NameError: name 'age' is not defined

#### Exploratory Data Analysis
- Analyzing distributions of all variables
- Examining relationships between variables
- Identifying any remaining data quality issues

#### Feature Selection

- Using correlation analysis, statistical tests, and mutual information to identify potential confounders and important covariates
- Domain knowledge to refine the selection
- Considering creating interaction terms or new features

#### Define Treatment and Outcome

- Treatment variable (a specific intervention or customer characteristic)
- Confirm 'churn_label' or 'churn_value' as outcome variable

#### Split the Data

- Dividing dataset into training and testing sets
- Ensuring both sets are representative of the overall data

#### Propensity Score Estimation

- Using logistic regression to estimate propensity scores
- Including all relevant covariates and potential confounders in the model
- Evaluating the model's performance using appropriate metrics

#### Matching

- Implementing a matching algorithm (nearest neighbor, caliper matching)
- Match treated units to control units based on propensity scores
- Determine the appropriate matching ratio (1:1, 1:n, or variable ratio)

#### Balance Assessment

- Checking covariate balance between matched groups
- Using standardized mean differences and statistical tests
- Visualizing balance using plots (love plots)

#### Treatment Effect Estimation

- Calculating the Average Treatment Effect on the Treated (ATT)
- Using appropriate statistical methods (regression adjustment on matched data)
- Considering doubly robust estimation methods

#### Sensitivity Analysis

- Performing Rosenbaum bounds analysis
- Conducting E-value calculations
- Testing different matching algorithms and parameters

#### Subgroup Analysis

- Investigating heterogeneous treatment effects across customer segments
- Using methods like causal trees or causal forests

#### Model Validation

- Implementing cross-validation techniques
- Assessing model performance on the test set